* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#app {
  width: 100vw;
  height: 100vh;
  background: black;
}

canvas {
  border: 1px solid red;
  box-shadow: 0 0 10px red;
  border-radius: 2px;
}
